@font-face {
    font-family: "Circular Std Book";
    src: url(../font/CircularFont/CircularStd-Book.otf);
}

@font-face {
    font-family: "Circular Std Bold";
    src: url(../font/CircularFont/CircularStd-Bold.otf);
}

/* margin & padding reset */
* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    background-color: #111111;
    display: flex;
    flex-direction: column;
/*    overflow: none; */
}

/*
    /\   body styling /\

    \/ header styling \/
 */

header {
    position: sticky;
    background: linear-gradient(135deg, rgb(50, 70, 200), rgb(0, 70, 150));
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
   /* overflow: auto; */
}

header a h1 {
    font-family: "Circular Std Bold";
    font-size: 2.5em;
    color: #ffffff;

}

#navtitle {
    flex-grow: 2;
}

header ul {
    margin: .5em 0 .5em;
    text-align: center;
    align-content: flex-end;
    justify-content: flex-end;
}

header li {
    display: inline-flex;
    justify-content: flex-end;
}

header a {
    display: flex;
    padding: .5em 3em;
    justify-content: flex-end;
    color: #ffffff;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: bold;
}

header a:hover {
    color: #111111;
    border-bottom: 2px solid currentColor;
    line-height: .9;
    transition: 0.3s;
}

#navtitle:hover {
    color: #111111;
    transition: 0.5s;
}

.active {
    color: #333333;
}
/*
------------------------------
---------- nav end -----------
------------------------------
*/

#home{
    height: 100%;
    display: flex;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background-color: #111111;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
}

#home svg {
    justify-content: flex-end;
    margin-top: 1vh;
    height: 49vh;
    width: 49vw;
}

#home article {
    height: 75%;
    text-decoration: none;
}

.cls-1{fill:none;}
.cls-2{isolation:isolate;}
.cls-3{clip-path:url(#clip-path);}
.cls-4{fill:#005852;}
.cls-5{clip-path:url(#clip-path-2);}
.cls-6{clip-path:url(#clip-path-3);}
.cls-7{clip-path:url(#clip-path-4);}
.cls-8{clip-path:url(#clip-path-5);}
.cls-9{clip-path:url(#clip-path-6);}
.cls-10{clip-path:url(#clip-path-7);}
.cls-11{clip-path:url(#clip-path-8);}
.cls-12{clip-path:url(#clip-path-9);}
.cls-13{clip-path:url(#clip-path-10);}
.cls-14{clip-path:url(#clip-path-11);}
.cls-15{clip-path:url(#clip-path-12);}
.cls-16{clip-path:url(#clip-path-13);}
.cls-17{clip-path:url(#clip-path-14);}
.cls-18{clip-path:url(#clip-path-15);}
.cls-19{clip-path:url(#clip-path-16);}
.cls-20{clip-path:url(#clip-path-17);}
.cls-21{clip-path:url(#clip-path-18);}
.cls-22{clip-path:url(#clip-path-19);}
.cls-23{clip-path:url(#clip-path-20);}
.cls-24{clip-path:url(#clip-path-21);}
.cls-25{clip-path:url(#clip-path-22);}
.cls-26{clip-path:url(#clip-path-23);}
.cls-27{clip-path:url(#clip-path-24);}
.cls-28{clip-path:url(#clip-path-25);}
.cls-29{clip-path:url(#clip-path-26);}
.cls-30{clip-path:url(#clip-path-27);}
.cls-31{clip-path:url(#clip-path-28);}
.cls-32{clip-path:url(#clip-path-29);}
.cls-33{clip-path:url(#clip-path-30);}
.cls-34{clip-path:url(#clip-path-31);}
.cls-35{clip-path:url(#clip-path-32);}
.cls-36{clip-path:url(#clip-path-33);}
.cls-37{clip-path:url(#clip-path-34);}
.cls-38{clip-path:url(#clip-path-35);}
.cls-39{clip-path:url(#clip-path-36);}
.cls-40{clip-path:url(#clip-path-37);}
.cls-41{clip-path:url(#clip-path-38);}
.cls-42{clip-path:url(#clip-path-39);}
.cls-43{clip-path:url(#clip-path-40);}
.cls-44{clip-path:url(#clip-path-41);}
.cls-45{clip-path:url(#clip-path-42);}
.cls-46{clip-path:url(#clip-path-43);}
.cls-47{clip-path:url(#clip-path-44);}
.cls-48{clip-path:url(#clip-path-45);}
.cls-49{clip-path:url(#clip-path-46);}
.cls-50{clip-path:url(#clip-path-47);}
.MAIN{fill:#00998e;}
.MAIN:hover{
    fill:#ffffff;
    transition: 0.1s ease-in-out;
}
.cls-52:hover{
    fill:#ffffff;
    transition: 0.1s ease-in-out;
}


article {
    height: 100%;
   /* background-color: white; */
    border: 1px solid #111111;
    align-items: center;
    align-content: center;
}

a article h2, a article p {
    font-family: "Circular Std Book";
    color: #ffffff;
    text-decoration: none;
}

/* article img {
    width: 50vh;
    height: 75vh;
} */

/* Creative Styling */

#maincreative {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 1vh;
    grid-row-gap: 1vw;
}


#maincreative article img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

footer {
    display: inline-flex;
    background-color: #333333;
    z-index: 1;
}

footer a {
    text-decoration: none;
    padding: 1%;
    color: #f1f1f1f1;
}

footer a:hover {
    border-bottom: 2px solid currentColor;
    line-height: 1;
    transition: .2s ease-in-out;
}

/* School Styling */
#mainschool {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 1vh;
    grid-row-gap: 1vw;
}
main #mainschool article {
    grid-column: 1;
}

#mainschool img {
    width: 100%;
    height: 100%;
}

#mainschool h3 {
    z-index: 2;
    overflow: hidden;
    margin-top: -5em;
    margin-left: 1em;
    font-size: 2.5em;
    text-shadow: -2px 0 white, 0 2px white,
    1.5px 0 white, 0 -1.5px white; /* bron: https://stackoverflow.com/questions/11323813/how-to-outline-text-in-html-css#17205396 */
    -webkit-font-smoothing: antialiased;
}


/* End of School styling */
/* form styling! */

#contact {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

#contact h3 {
    font-size: 1.5em;
    color: white;
    font-family: "Circular Std";
    margin-top: 20vh;
}

legend {
    font-size: 1.5em;
    color: white;
    font-family: "Circular Std Bold";
}
form {
    color: white;
    display: flex;
    width: 90vw;
    height: 70vh;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

fieldset {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 1%;
}

label {
    align-content: center;
    font-size: 1em;
    display: block;
}

input[type=email] {
    display: block;
    font-size: 1em;
}

input[type=email]:valid {
    border: solid green 3px;
}

input[type=email]:invalid {
    border: solid red 2px;
}

input[type=textarea] {
    display: inline-block;
    width: 75vw;
    height: 25vh;
    font-size: 1em;
}

textarea {
    display: inline-block;
    width: 98%;
    height: 25vh;
    font-size: 1em;
    resize: none;
}

input[type=radio] {
    display: inline-block;
    margin: 3% 1%;
    width: 2em;
    height: 2em;
    background-color: #259acc;
}

button {
    display: flex;
    font-size: 1.5em;
}
button:hover {
    background-color: #444444;
    color: white;
}
/* Hidden class.*/
.hidden {
    display: none;
}

/* Media Query Time. */

@media (min-width: 570px) {
    header {
        z-index: 1; /* makes zooming anim go underneath the header. */
    }

    #maincreative {
     grid-template-columns: 1fr 1fr;
     grid-template-rows: repeat(4, 1fr);
    }

    #mainschool {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    #mainschool img:hover {
        transform: scale(1.01);
        z-index: 1;
        transition: all 0.5s;
    }

    #maincreative img:hover, #maincreative img:focus {
        transform: scale(1.05);
        transition: all 0.5s;
    }
}

@media (min-width: 960px) {
    header {
        justify-content: space-between;
    }
    #maincreative {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    #mainschool {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

}

